/* public/style.css */

/* --- Mise en page Générale (Centrage) --- */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E8F5E9;
    /* Vert clair */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* --- Conteneur du Formulaire --- */
.auth-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    /* Ombre plus profonde */
    width: 100%;
    max-width: 550px;
}

h2 {
    color: #388E3C;
    /* Vert Forêt */
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8em;
    font-weight: 600;
}

/* --- Styles des Inputs et Labels --- */
.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
    font-size: 0.95em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #CFD8DC;
    /* Gris clair élégant */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #66BB6A;
    /* Vert clair au focus */
    box-shadow: 0 0 0 2px rgba(102, 187, 106, 0.3);
    outline: none;
}

/* --- Bouton S'inscrire --- */
button {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    /* Vert Nature principal */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover:not(:disabled) {
    background-color: #388E3C;
    /* Vert Forêt au survol */
}

button:disabled {
    background-color: #BDBDBD;
    /* Gris plus doux pour désactivé */
    cursor: not-allowed;
}

/* --- Messages et Liens --- */
.hint {
    font-size: 0.8em;
    color: #777;
    margin-top: 5px;
    margin-left: 5px;
}

.link-text {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.link-text a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.link-text a:hover {
    color: #388E3C;
    text-decoration: underline;
}


.error-message {
    color: #D32F2F;
    background-color: #FFEBEE;
    border: 1px solid #FFCDD2;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    display: none;
}

.validation-message {
    color: #42d32f;
    background-color: #eafcdb;
    border: 1px solid #e3ffcd;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    display: none;
}